html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('https://raw.githubusercontent.com/RevStan/memorymaster/master/img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    font-size: 60px;
    color: #70e;
  margin-bottom: 0px;
}

.instr {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    color: #70e;
    font-size: 40px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.moves {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    color: #70e;
    font-size: 30px;
}

.timer {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    font-size: 30px;
    color: #70e;
}

/*
 * Styles for the deck of cards
 */
.deck {
    width: 560px;
    min-height: 600px;
    background: #77f;
    padding: 28px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 115px;
    width: 115px;
    background: #e44;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
  
.deck .card.open {
/*    transform: rotateY(0);  */
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    color: #000;
    background: #7e8;
    font-size: 50px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 550px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;   
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: blue;
    font-size: 25px;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .reset {
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-family: 'French Script MT', french script mt;
    font-size: 20px;
    color: #fff;
    background-color: #4e0;
 }


/********************************************************
                MODAL STYLING
 *******************************************************/

.modal {
    background-color: #4e0;
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    width: 600px; /* Full width */
    max-width: 100%;
    max-height: 500px;
    height: 100%; /* Full height */
    left: 10%;
    top: 15%;
    z-index: 100;
    border-radius: 10px;
    border: 3px solid #888;
}

.modal-content {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    font-size: 30px;
    color: #70e;
    background-color: #fefefe;
    margin: 4% auto; 
    top: 40%;  
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #888;
    /*height: 100%;*/
    width: 90%; /* Could be more or less, depending on screen size */
    height: 340px;
    text-align: left;
}

.congrat {
    font-weight: bold;
    font-family: 'AR DELANEY', ar delaney;
    font-size: 40px;
    color: #e23;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   margin-top: 25px;
}

.star-content .box {
  display: flex;
  justify-content: space-between;
}

.modalStars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: blue;
    font-size: 25px;
    text-align: left;
    list-style: none;
    flex-direction: row;
}

.modalStars li {
    list-style: none;
    display: inline-block;  
}

.show-stars {
    display: block;
}

.starExpln1 {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    font-family: 'Courier', courier;
    color: #77e;
}

.mdlMoves {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    color: #70e;
    font-size:30px;
}

.mdlTimer {
    font-weight: bold;
    font-family: 'French Script MT', french script mt;
    font-size: 30px;
    color: #70e;
}
.playAgain {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    font-family: 'French Script MT', french script mt;
    font-size: 30px;
    color: #fff;
    background-color: #4e0;
 }

.noThanks {
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-family: 'French Script MT', french script mt;
    font-size: 30px;
    color: #fff;
    background-color: #f00;
 }


/**************************************
    STYLES FOR RESPONSIVE DISPLAY 
**************************************************
   Larger devices such as
   iPad and similar Tablets
**************************************************/

@media only screen and (min-width: 401px) and (max-width: 750px){
    
  h1 {
    font-size: 45px;
  }
  
  .instr {
    font-size: 35px;
  }
  
  .time {
    font-size: 25px;
  }
  
  .score-panel {
    width: 380px;
  }
  
  .score-panel .stars {
    font-size: 20px;
  }
  
  .moves {
    font-size: 25px;
  }
  
  .timer {
    font-size: 25px;
  }
  
  .score-panel .reset{
    font-size: 20px;
  }
  
  .deck{
        width:  90%;
        height: 500px;
        min-height: 500px;
  }

  .deck .card {
        width:  23%;
        height: 20%;
  }
  
  .modal{
      width: 90%;
      height: 60%;
      max-height: 60%;
      top: 15%;
      left: 5%;
  }
  
   .congrat {
      font-size: 27px;
      font-weight: normal;
  }
    
  .modal-content{
        width:85%;
        height:75%;
        font-size: 30x;
        top: 5%;
        left: 15%;
  }
    
  .modal-stars: {
    font-size: 20;
  }
  
  .mdlMoves {
    font-size: 30x;
  }
  
  .mdlTimer {
    font-size: 30x;
  }
  
  .playAgain {
    font-size: 25x;
  }
  
  .noThanks {
    font-size: 25px;
  }
}

/**************************************************
   Midsize devices such as
   Nexus 4, Galaxy S5, iPhone 6/7/8/10
**************************************************/

@media only screen and (min-width: 341px) and (max-width: 400px){
 
  h1 {
    font-size: 25px;
  } 
  
  .instr {
    font-size: 25px;
  }
  
  .score-panel{
    width:275px;
    font-size: 15px;
  }
  
  .score-panel .stars {
    font-size: 15px;
  }
  
  .moves {
    font-size: 20px;
  }
  
  .timer {
    font-size: 20px;
  }
  
  .score-panel .reset{
    font-size: 15px;
  }
  
  .deck {
    width:  95%;
    min-height: 100%;
    height: 430px;
    padding: 2px 2px 2px 2px;
  }

  .deck .card {
    width:  75px;
    height: 75px;
    justify-content: space-around;
    box-shadow: 1px 1px 1px 0 rgba(46, 61, 73, 0.5);
  }

  .modal{
    width: 90%;
    font-size: 10px;
    top: 1%;
    left: 5%;
    max-height: 90%;
  }
  
  .congrat{
    font-size: 20px;
  }
  
  .modal-content{
    width:90%;
    height:75%;      
    font-size: 25px;
  }
  
  .modalStars{
    font-size: 20px;
  }
  
  .mdlMoves{
    font-size: 25px;
  }
  
  .mdlTimer{
    font-size: 25px;
  }
  
  .playAgain {
    font-size: 22px;
  }
  
  .noThanks {
    font-size: 22px;
  }
}

  
/**************************************************
   Small Phone Sizing such as:
    iPhone 5/se
**************************************************/
@media only screen and (min-width: 300px) and (max-width: 340px){
 
  h1 {
    font-size: 25px;
  } 
  
  .instr {
    font-size: 20px;
  }
  
  .score-panel .stars {
    font-size: 12px;
  }
  
  .moves {
    font-size: 20px;
  }
  
  .timer {
    font-size: 20px;
  }
  
  .score-panel .reset {
    font-size: 15px;
  }
  
  .deck {
    width:  95%;
    min-height: 100%;
    height: 350px;
    padding: 2px 2px 2px 2px;
  }

  .deck .card {
    width:  65px;
    height: 65px;
    justify-content: space-around;
    box-shadow: 1px 1px 1px 0 rgba(46, 61, 73, 0.5);
  }

  .score-panel {
    width:250px;
    font-size: 15px;
  }
  
  .modal {
    width: 90%;
    font-size: 10px;
    top: 1%;
    left: 5%;
    max-height: 90%;
  }
  
  .congrat {
    font-size: 20px;
  }
  
  .modal-content {
    width:90%;
    height:75%;      
    font-size: 25px;
  }
  
  .modalStars {
    font-size: 20px;
  }
  
  .mdlMoves {
    font-size: 25px;
  }
  
  .mdlTimer {
    font-size: 25px;
  }
  
  .playAgain {
    font-size: 22px;
  }
  
  .noThanks {
    font-size: 22px;
  }
}